<!DOCTYPE html>
<html>
    <head>
      <title>to_do_app</title>
      <script type="text/javascript">
      function Check(){
	var checked = confirm("本当に削除しますか")
	if (checked == true) {
           return true;
	 }
      else{
           return false;
        } 
     }
      </script>
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    </head>
    <body>
    <h1 class="text-center">To do リスト</h1>
    <div class="row">
      <div class="col">
        <img class="mx-auto d-block" src="/static/images/promise.jpg" alt="名言"width='400'height='300'>
      </div>
    </div>
    <form action="/add" method="post" class="form-inline justify-content-center">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="body" placeholder="detail">
        <input  type="submit" value="追加"class="btn btn-outline-primary"> 
  </div>
    </form>
     <form action="/update" method="post" id="update" class="form-inline justify-content-center">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="body" placeholder="detail">
        <input  type="submit" value="更新"class="btn btn-outline-success">  
     </form>
    <form action="/delete" method="post" id="delete"class="form-inline justify-content-center">
        <input type="submit"class = "btn btn-outline-danger" value="Delete Selected All List"onClick="return Check()">
    </form>
    {% for yarukoto in all_yarukoto %}
    <div>
<center>
<input type="radio" name="update" form="update" value={{yarukoto.id}}>
<input type="checkbox" name="delete" form="delete" value={{yarukoto.id}}>

       {{yarukoto.title}}：{{yarukoto.body}}
</center>    
</div>

    {% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>
